<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h2>
      Profile:
      <ng-template [ngIf]="profile">
        <img class="photo" [src]="profile.photo" alt="photo">
        {{profile.first_name}} {{profile.last_name}}
      </ng-template>
    </h2>
  </mat-toolbar-row>
</mat-toolbar>

<div class="preloader" *ngIf="loading">
  <img src="https://cdn-images-1.medium.com/max/1600/0*cWpsf9D3g346Va20.gif" alt="">
</div>
<div class="preloader" *ngIf="!loading && !profile">
  <img src="https://cdn0.iconfinder.com/data/icons/flat-design-business-set-3/24/people-customer-unknown-512.png" alt="">
</div>

<div class="grid-container" *ngIf="!loading && profile">
  <div class="left-container">
    <mat-card class="fact">
    <h3>
      Quick facts
    </h3>
      <div class="fact-header">
        Status
        <mat-icon>share</mat-icon>
      </div>
      <table class="fact-table">
        <tr>
          <td rowspan="3">
            <mat-icon>contacts</mat-icon>
          </td>
          <td colspan="2">
            ID: 123123
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Tier: GOLD
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Pts: 1235,2
          </td>
        </tr>
      </table>

      <div class="fact-header">
        Top 3 facts
        <mat-icon>share</mat-icon>
      </div>
      <table class="fact-table">
        <tr>
          <td rowspan="3">
            <mat-icon>report</mat-icon>
          </td>
          <td colspan="2">
            Suite room
          </td>
        </tr>
        <tr>
          <td colspan="2">
            King bed
          </td>
        </tr>
        <tr>
          <td colspan="2">
            Highest floor
          </td>
        </tr>
      </table>

      <div class="fact-header">
        Rmf Score
        <mat-icon>share</mat-icon>
      </div>
      <table class="fact-table">
        <tr>
          <td>
            <mat-icon>pie_chart</mat-icon>
          </td>
          <td>R:70%</td>
          <td>F:15%</td>
          <td>M:15%</td>
        </tr>
      </table>


      <div class="fact-header">
        Other facts
        <mat-icon>share</mat-icon>
      </div>
      <table class="fact-table">
        <tr>
          <td>
            <mat-icon>calendar_today</mat-icon>
          </td>
          <td>
            Total stays
          </td>
          <td>24</td>
        </tr>
        <tr>
          <td>
            <mat-icon>start</mat-icon>
          </td>
          <td>
            Nights
          </td>
          <td>32</td>
        </tr>
        <tr>
          <td>
            <mat-icon>settings_brightness</mat-icon>
          </td>
          <td>
            Avg. stay
          </td>
          <td>1.33 nights</td>
        </tr>
        <tr>
          <td>
            <mat-icon>date_range</mat-icon>
          </td>
          <td>
            Last visit
          </td>
          <td>2018-02-02</td>
        </tr>
        <tr>
          <td>
            <mat-icon>attach_money</mat-icon>
          </td>
          <td>
            Fake item
          </td>
          <td>17</td>
        </tr>
        <tr>
          <td>
            <mat-icon>attach_money</mat-icon>
          </td>
          <td>
            Lifetime value
          </td>
          <td>$321.2</td>
        </tr>

    </table>

    </mat-card>
  </div>
  <div class="right-container">
    <mat-tab-group>
      <mat-tab label="Profile details">
        <mat-card class="profile-card">
          <div class="profile-card-holder">
            <h3>
              Profile detail
            </h3>
            <ul class="profile">
              <li>
                <div class="profile-title">
                  Prefix
                </div>
                <div class="profile-value">
                  {{profile?.prefix}}
                </div>
                <div class="profile-edit">
                  <mat-icon>edit</mat-icon>
                </div>
              </li>
              <li>
                <div class="profile-title">
                  First name
                </div>
                <div class="profile-value">
                  {{profile?.first_name}}
                </div>
                <div class="profile-edit">
                  <mat-icon>edit</mat-icon>
                </div>
              </li>
              <li>
                <div class="profile-title">
                  Last name
                </div>
                <div class="profile-value">
                  {{profile?.last_name}}
                </div>
                <div class="profile-edit">
                  <mat-icon>edit</mat-icon>
                </div>
              </li>
              <li>
                <div class="profile-title">
                  Loyalty member id
                </div>
                <div class="profile-value">
                  {{profile?.loyalty_member_id}}
                </div>
                <div class="profile-edit">
                  <mat-icon>edit</mat-icon>
                </div>
              </li>
              <li>
                <div class="profile-title">
                  Phone
                </div>
                <div class="profile-value">
                  {{profile?.phone}}
                </div>
                <div class="profile-edit">
                  <mat-icon>edit</mat-icon>
                </div>
              </li>
              <li>
                <div class="profile-title">
                  Address
                </div>
                <div class="profile-value">
                  {{profile?.address}}
                </div>
                <div class="profile-edit">
                  <mat-icon>edit</mat-icon>
                </div>
              </li>
              <li>
                <div class="profile-title">
                  Birth date
                </div>
                <div class="profile-value">
                  {{profile?.birthdate | date: "y-MM-dd"}}
                </div>
                <div class="profile-edit">
                  <mat-icon>edit</mat-icon>
                </div>
              </li>
              <li>
                <div class="profile-title">
                  Language preferences
                </div>
                <div class="profile-value">
                  English
                </div>
                <div class="profile-edit">
                  <mat-icon>edit</mat-icon>
                </div>
              </li>
            </ul>
          </div>
        </mat-card>
      </mat-tab>
      <mat-tab label="Profile ID's">
        <mat-card class="profile-card">
          Profile ID's
        </mat-card>
      </mat-tab>
      <mat-tab label="Activity timeline">
        <mat-card class="profile-card">
          Activity timeline
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>


