mat-grid-tile{
  width: 100%;
  height: 100%;
}
.mat-toolbar.mat-primary{
  background: #39a9f4;
  padding-bottom: 70px;
  .photo{
    top: 10px;
    position: relative;
  }
}

.grid-container{
 display: flex;
}



.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  color:#fff;
}
:host /deep/ .mat-tab-label .mat-tab-label-content{
  color:#fff;
}
:host /deep/ .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #fff;
}
:host /deep/ .mat-tab-body-content{
  padding-top: 30px;
  padding-right: 15px;
}
.preloader{
  text-align: center;
  margin: 30px;
}
.left-container{
  width: 30%;
  min-width: 270px;
  padding: 20px;
  margin-top: -50px;
  .mat-card{
    color: #5e5e5e;
    font-size: 14px;
  }
  .fact{
    &-header{
      border-bottom: 1px solid #ccc;
      font-size: 11px;
      margin: 10px 0 5px 0;
      mat-icon{
        float: right;
        margin-top: -5px;
        font-size: 16px;
        color: #3aa8f3;
      }
    }
    &-table{
      td{
        vertical-align: top;
      }
      mat-icon{
        font-size: 15px;
        margin-right: 7px;
      }
    }
  }

}

.right-container{
  margin-top: -50px!important;
  background: none;
  width: 100%;
  .profile-card {
    padding: 10px;
    //height: 480px;
    .profile-card-holder {
      background: #fafafa;
      border: 1px solid #ccc;
      padding: 20px;
      h3{
        margin: 5px 0 20px;
      }
      .profile {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 12px;
        background: #fff;
        border: 1px solid #ccc;

        li {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #ccc;
          padding-top: 15px;
        }

        &-title {
          width: 150px;
          padding-left: 10px;
        }

        &-value {
          width: 150px;
          font-weight: bold;
        }

        &-edit {
          width: 50px;
          font-weight: bold;
          color: #ccc;
          mat-icon {
            font-size: 20px;
          }
        }
      }
    }
  }
}

