<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h2>Profiles</h2>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <form (submit)="filter()" class="full-width">
      <mat-form-field>
        <input matInput [(ngModel)]="term" name="term" placeholder="Search profiles">

        <button mat-raised-button (click)="filter()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngIf="!loading && !dataSource.filteredData.length">
  <mat-toolbar>
    <span>No data to display</span>
  </mat-toolbar>
</mat-card>
<mat-card>
  <table  mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="photo">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        <mat-icon>compare_arrows</mat-icon>
      </th>
      <td mat-cell *matCellDef="let row">
        <img [src]="row.photo" alt="photo">
      </td>
    </ng-container>
    <ng-container matColumnDef="loyalty_member_id">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Local ID </th>
      <td mat-cell *matCellDef="let row">{{row.loyalty_member_id}}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Email address</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Name </th>
      <td mat-cell *matCellDef="let row">
        <div *ngIf="row.gender == 'Female';then female else male"></div>
        <ng-template #female>Mrs. </ng-template>
        <ng-template #male>Mr. </ng-template>
        {{row.first_name}} {{row.last_name}}
      </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Phone </th>
      <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Address </th>
      <td mat-cell *matCellDef="let row"> {{row.address}} </td>
    </ng-container>
    <ng-container matColumnDef="modified">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>Modified </th>
      <td mat-cell *matCellDef="let row"> {{row.modified | date: "y-MM-dd"}} </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="right">View </th>
      <td mat-cell *matCellDef="let row" class="right">
        <a [routerLink]="['/details/' + row.loyalty_member_id]" >
          <mat-icon>chevron_right</mat-icon>
        </a>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
</mat-card>

