.mat-toolbar.mat-primary{
  background: #39a9f4;
}
button{
  background: #2876a2;
  border-radius: 0;
  margin-left: 20px;
  color: #fff;
}
table.mat-table,
.full-width{
  width: 100%;
}
mat-form-field {
  width: 80%;
}

.right.mat-cell {
  text-align: right;
}
tr:last-child td.mat-cell, tr th{
  border-bottom-width: 2px;
}
td.mat-cell:last-of-type{
  padding-right: 5px;
  a{
    color: #a0a2a8;
  }
}
th.mat-header-cell:last-child {
  padding-right: 15px;
  text-align: right;
}

mat-card{
  margin: 15px;
  padding: 0;
}
